# Testing the models:

In [2]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from matplotlib import pyplot as plt

In [4]:
X = np.load("../train_test_data/train_x_values.npy")
y = np.load("../train_test_data/train_y_values.npy")

## Encoding the target

In [6]:
ohe = OneHotEncoder(sparse=False)
ohe.fit(y.reshape(-1,1))

OneHotEncoder(sparse=False)

In [7]:
y_encoded = ohe.transform(y.reshape(-1,1))# Display the detected categories
print(f"The categories detected by the OneHotEncoder are {ohe.categories_}")

The categories detected by the OneHotEncoder are [array(['gametocyte', 'leukocyte', 'red blood cell', 'ring', 'schizont',
       'trophozoite'], dtype='<U14')]

In [8]:
y_encoded_df=pd.DataFrame(y_encoded, columns = ohe.get_feature_names_out())

In [9]:
y_encoded_df

,x0_gametocyte,x0_leukocyte,x0_red blood cell,x0_ring,x0_schizont,x0_trophozoite
0,0.0,0.0,1.0,0.0,0.0,0.0
1,0.0,0.0,1.0,0.0,0.0,0.0
2,0.0,0.0,1.0,0.0,0.0,0.0
3,0.0,0.0,1.0,0.0,0.0,0.0
4,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...
995,0.0,0.0,1.0,0.0,0.0,0.0
996,0.0,0.0,1.0,0.0,0.0,0.0
997,0.0,0.0,1.0,0.0,0.0,0.0
998,0.0,0.0,1.0,0.0,0.0,0.0
999,0.0,0.0,1.0,0.0,0.0,0.0

## Enconding the test target

In [3]:
X_test = np.load("../train_test_data/test_x_values.npy")
y_test = np.load("../train_test_data/test_y_values.npy")

In [4]:
y_test_encoded = ohe.transform(y_test.reshape(-1,1))

NameError: name 'ohe' is not defined

## Balancing the data using class weights

In [ ]:
from sklearn.utils import class_weight

In [5]:
cw = y_encoded_df.sum().to_dict()
cw

NameError: name 'y_encoded_df' is not defined

In [ ]:
(np.unique(y_encoded, axis = 0))